<div class="wrapper-s">

  <div class="header-s">
    <a href="/"><h1 class="site-title-s">StoneJab</h1></a>
  </div>

  <div class="input-box">
    <% pathname = request.path_info  %>
    <%= form_tag("#{pathname}", method: :get, :class => "search-monster-form" ) do %>
    <%= text_field_tag 'search', nil, id: 'search-monster', maxlength: "32", placeholder: '使用モンスターを検索' %>
    <%= image_submit_tag "icon/search.png", id: "search-submit" %>
    <% end %>
  </div>

  <div class="main">

    <% if @no_exist %>
      <h2 class="no-exist">※<%= @no_exist %></h2>
    <% else %>
      <% @guide.each do |row| %>
        <div class="guide">

          <%= image_tag("monsters/#{row.leader}.png", :class => "lf") %>
          <%= image_tag("monsters/#{row.sub1}.png", :class => "sub") %>
          <%= image_tag("monsters/#{row.sub2}.png", :class => "sub") %>
          <%= image_tag("monsters/#{row.sub3}.png", :class => "sub") %>
          <%= image_tag("monsters/#{row.sub4}.png", :class => "sub") %>
          <%= image_tag("monsters/#{row.friend}.png", :class => "lf") %>
          <pre class="comment"><%= row.comment %></pre>
          <div class="user-name"><%= row.user_name %></div>

        </div>
      <% end %>
    <% end %>

    <div class="page">

        <!--<a href="/dungeons/<%= @d_id %>?p=<%= @p-1 %>"><div class="prev" %>Prev</div></a>-->

      <% if @page < 10 %>
        <% for p in 1..@page %>
        <a href="/dungeons/<%= @d_id %>?p=<%= p %>"><div class="p" <%= id = "id=selected" if @p == p  %>><%= p %></div></a>
        <% end %>
      <% else %>
        <% for p in @p..@p+9 %>
        <div class="p" <%= id = "id=selected" %>><%= p %></div>
        <% end %>
      <% end %>

        <!--<a href="/dungeons/<%= @d_id %>?p=<%= @p+1 %>"><div class="next" %>Next</div></a>-->

    </div>

  </div>
</div>
