<div class="show-wrapper-s">

  <div class="show-header-s">
    <h1 class="site-title-s">StoneJab</h1>
  </div>

  <div class="main">

    <% if @no_exist %>
      <h2>※<%= @no_exist %></h2>
    <% else %>
      <% @guide.each do |row| %>
        <div class="guide">

          <%= image_tag("monsters/#{row.leader}.png", :class => "lf") %>
          <%= image_tag("monsters/#{row.sub1}.png", :class => "sub") %>
          <%= image_tag("monsters/#{row.sub2}.png", :class => "sub") %>
          <%= image_tag("monsters/#{row.sub3}.png", :class => "sub") %>
          <%= image_tag("monsters/#{row.sub4}.png", :class => "sub") %>
          <%= image_tag("monsters/#{row.friend}.png", :class => "lf") %>
          <pre class="comment"><%= row.comment %></pre>
          <div class="user-name"><%= row.user_name %></div>

        </div>
      <% end %>
    <% end %>

  </div>
</div>
