<div class="show-wrapper">

  <div class="input-box">
    <button name="button" class="show-btn">ダンジョン情報を表示</button>
    <button name="button" class="hide-btn">ダンジョン情報を非表示</button>
    <input type="text" name="" id="search-monster" placeholder="使用モンスターを検索"/>
  </div>
  <div class="enemy-box">
    <table></table>
  </div>

  <div class="show-main">

    <% if @no_exist %>
      <h2>※<%= @no_exist %></h2>
    <% else %>
      <% @guide.each do |row| %>
        <div class="guide">

          <%= image_tag("monsters/#{row.leader}.png", :class => "lf") %>
          <%= image_tag("monsters/#{row.sub1}.png", :class => "sub") %>
          <%= image_tag("monsters/#{row.sub2}.png", :class => "sub") %>
          <%= image_tag("monsters/#{row.sub3}.png", :class => "sub") %>
          <%= image_tag("monsters/#{row.sub4}.png", :class => "sub") %>
          <%= image_tag("monsters/#{row.friend}.png", :class => "lf") %>
          <pre class="comment"><%= row.comment %></pre>
          <div class="user-name"><%= row.user_name %></div>

        </div>
      <% end %>
    <% end %>

    <div class="page">

        <!--<a href="/dungeons/<%= @d_id %>?p=<%= @p-1 %>"><div class="prev" %>Prev</div></a>-->

      <% if @page < 10 %>
        <% for p in 1..@page %>
        <a href="/dungeons/<%= @d_id %>?p=<%= p %>"><div class="p" <%= id = "id=selected" if @p == p  %>><%= p %></div></a>
        <% end %>
      <% else %>
        <% for p in @p..@p+9 %>
        <div class="p" <%= id = "id=selected" %>><%= p %></div>
        <% end %>
      <% end %>

        <!--<a href="/dungeons/<%= @d_id %>?p=<%= @p+1 %>"><div class="next" %>Next</div></a>-->

    </div>
  </div>

</div>
