<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="パズル＆ドラゴンズのダンジョン攻略参考サイトです。">
  <title>StoneJab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Galindo', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'icon/favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% ua = request.env["HTTP_USER_AGENT"] %>

<% if(ua.include?('Mobile') || ua.include?('Android')) %>
<% else %>
  <div class="header">
    <div class="description">
      攻略パーティを参考、投稿出来るサイト
    </div>
    <a href="/"><h1 class="site-title">StoneJab</h1></a>
    <nav>
      <ul>
        <!--
        <li class="nav-list">
          <a href="/monsters" class="book">図鑑</a>
        </li>
        -->
        <li class="nav-list">
          <a href="/dungeons/new" class="write">投稿する</a>
        </li>
      </ul>
    </nav>
  </div>
<% end %>

<%= yield %>

<% if(ua.include?('Mobile') || ua.include?('Android')) %>
<% else %>
  <div class="footer">
    <div class="copyright">&copy 2014 StoneJab. All Rights Reserved.</div>
  </div>
<% end %>
</body>
</html>
